<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      src="assets/img/perfil.jpg"
                      class="img-fluid rounded b-shadow-a"
                      alt=""
                    />
                  </div>
                </div>
                <h1 class="title-left">Um pouco sobre Bruno !!</h1>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Nome: </span>
                      <span>Bruno Perez</span>
                    </p>
                    <p>
                      <span class="title-s">Profissão: </span>
                      <span>Desenvolvedor Full Starck</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                 
                </div>
                <p class="lead">
                  Olá sou o Bruno Perez, moro em Mesquita na baixada fluminense
                  no Rio De janeiro tenho 35 anos. <br />
                  Sou desenvolvedor FullStack estou em busca de uma oportunidade
                  de trabalho na área.<br />
                  Comecei a ter interesse pela programação quando iniciei um
                  curso de Analista de Sistema com duração de 2 anos foi aonde
                  eu aprendi a consertar computadores, celulares, a trabalhar
                  com sistemas computacionais, e tive o primeiro contato com os
                  sistemas de programação, delph e visual basic foi incrível
                  criar uma aplicação do zero, com toda a sua interface, foi
                  fantástico por isso resolvi dedicar-me mais na área
                  tecnológica, e comecei a ver outros cursos online, mais o
                  marco dos meus estudos até o momento foi ser selecionado pela
                  Recode Pro através de um processo de seleção para bolsas de
                  estudos com certificação para Desenvolvedor FullStack Jr.<br />
                  Aonde consegui adquirir conhecimentos técnicos e práticos
                  sobre programação.
                  <br />
                  Hoje, tenho por objetivo acrescentar mais conhecimento através
                  do trabalho prático, buscando sempre obter conhecimento,
                  continuo estudando em cursos online em grandes instituições
                  como Udemy, Dio e Video aulas.<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
